# Prints the timestamps of the 10 most recent sleep and wake events (for OS X portables). This answers the question, "How long have I been at the computer?"
alias swlog='pmset -g log | grep -e " Sleep  " -e " Wake  " | tail -n 10'

# Toggles system volume.
alias mute='osascript -e "set volume output muted not (output muted of (get volume settings))"'

# Puts system to sleep.
alias sleepnow='pmset sleepnow'

# Reloads the shell (i.e., invokes as a login shell).
alias reload='exec $SHELL -l'

# List all files in long format, including hidden directories, with file size unit suffixes, and colorized.
alias l='ls -lahG'

# Git.
alias ga='git add -v'
alias gau='git add -vu'
alias gc='git commit -v'
alias gca='git commit -v --amend '
alias 'gca!'='git commit -v --amend --no-edit'
alias grbi='git rebase -i'
alias grbc='git rebase --continue'
alias grba='git rebase --abort'
alias gmt='git mergetool --no-prompt'
alias gp='git push -v'
alias gsta='git stash'
alias gstp='git stash pop'
alias gstd='git stash drop'
alias gstl='git stash list'
alias gsts='git stash show --patch'
alias gst='git status --short'
alias glg='git log --stat --color --graph --decorate'
alias glol='git log --graph --abbrev-commit --pretty=format:'\''%Cred%h%Creset - %Cgreen(%ar)%Creset %s%C(bold blue)%C(yellow)%d'\'''
alias glgrep='git log --regexp-ignore-case --grep'
alias grlg='git reflog --date=relative'
alias gd='git diff'
alias gdca='git diff --cached'
alias gbl='git blame -b -s -w'
alias gco='git checkout'
alias gcm='git checkout master'

# Fasd.
alias v='f -e vim'
alias o='a -e open'
alias st='f -e subl'

# Builtin.
alias ...=../..
alias ....=../../..
alias .....=../../../..
alias ......=../../../../..
alias 1='cd -'
alias 2='cd -2'
alias 3='cd -3'
alias 4='cd -4'
alias 5='cd -5'
alias 6='cd -6'
alias 7='cd -7'
alias 8='cd -8'
alias 9='cd -9'