# Prints timestamps of 10 most recent sleep and wake events (for OS X portables). This answers the question, "How long have I been at the computer?"
alias swlog='pmset -g log | grep --color=always -e " Sleep  " -e " Wake  " | tail -n 10'

# Toggles system volume.
alias mute='osascript -e "set volume output muted not (output muted of (get volume settings))"'

# Puts system to sleep.
alias sleepnow='pmset sleepnow'

# Reloads the shell.
alias reload='exec $SHELL -l'

# Lists all files in long format, including hidden directories (excluding . and ..), with file size unit suffixes, and colorized.
alias l='ls -lAhG'

# Colorize grep matches.
alias grep='grep --color=always'

# Git.
alias ga='git add --verbose'
alias gap='git add --verbose --patch'
alias gau='git add --verbose --update'
alias gc='git commit --verbose'
alias gca='git commit --verbose --amend'
alias 'gca!'='git commit --verbose --amend --no-edit'
alias grbi='git rebase --interactive'
alias grbc='git rebase --continue'
alias grba='git rebase --abort'
alias gmt='git mergetool --no-prompt'
alias gp='git push --verbose'
alias gl='git pull --verbose'
alias gsta='git stash'
alias gstp='git stash pop'
alias gstd='git stash drop'
alias gstl='git stash list'
alias gsts='git stash show --patch'
alias gst='git status --short'
alias glg='git log --stat --color --graph --decorate'
alias glol='git log --graph --abbrev-commit --pretty=format:'\''%Cred%h%Creset - %Cgreen(%ar)%Creset %s%C(bold blue)%C(yellow)%d'\'''
alias glgrep='git log --regexp-ignore-case --grep'
alias grlg='git reflog --date=relative'
alias gd='git diff'
alias gdca='git diff --cached'
alias gs='git show'
alias gbl='git blame -b -s -w'
alias gco='git checkout'
alias gcm='git checkout master'
alias gb='git branch'

# Prints the number of commits of the current repository for each day of past 7 weeks.
alias gitstats='git log --since="7 weeks ago" | grep Date: | awk '"'"'{print " : "$4" "$3" "$6}'"'"' | uniq -c | tail -r'

# fasd.
alias v='f -e vim'
alias o='a -e open'
alias st='f -e subl'

# Upgrades all brew packages.
alias bubu='brew update && brew outdated && brew upgrade && brew cleanup'

# Builtin.
alias dirs='dirs -v'
for index ({1..9}) alias "$index"="cd -${index}"; unset index