# Set PATH.
export PATH='/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin'

# Set Go PATH.
export GOPATH=$HOME/Dropbox/Projects/go
export PATH=$PATH:$GOPATH/bin

# Set location for Homebrew Cask applications.
export HOMEBREW_CASK_OPTS="--appdir=/Applications --caskroom=/usr/local/Caskroom"