# Sets system volume to $number on a scale of 0 to 10.
function vol() {
  osascript -e "set volume ${1}"
}

# Opens current directory on Dropbox.com (if it is in your Dropbox folder), with deleted files visible. This is useful for file recovery.
function odb() {
	DIR="$(cd "$(dirname "$0")" && pwd)"
	if [[ $DIR == *"Dropbox"* ]]
	then
		# "?d=1" displays deleted files.
		open ${DIR/*Dropbox/https://www.dropbox.com/home}"?d=1"
	else
		echo "odb: $DIR not in Dropbox folder"
	fi
}

# Prints file with syntax highlighting and tab size of 4.
# function cat() {
#	pygmentize -O style=monokai -f console256 -g ${1} | expand -t4
# }

# Prints the number of commits to the current directory's repository for each of the past `$num_days` days.
function gitstats() {
	# for ((i = 0; i < ${1:-7}; i++)); do
	for ((i=$((${1:-7} - 1)); i > -1; i--)); do
		DAY="`date -v-${i}d "+%b %d"`"
		git rev-list --count master --after="${DAY} 00:00:00" --before="${DAY} 23:59:59" | awk -v day=$DAY '{print day ": " $1}'
	done
}